.wcpbsc-search {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.wcpbsc-search-bar {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.wcpbsc-search-input-box {
	display: flex;
	flex: 1;
	align-items: center;
	gap: 0.35rem;
}

.wcpbsc-search-input {
	flex: 1;
	width: 100%;
}

.wcpbsc-search-result {
	width: 100%;
}

.wcpbsc-search-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.wcpbsc-search-item a {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-decoration: none;
}

.wcpbsc-search-item img {
	width: 40px;
	height: 40px;
	object-fit: cover;
}

.wcpbsc-search-cross {
	display: none;
	cursor: pointer;
}

.wcpbsc-search-loader {
	--color-1: #fff;
	--color-2: #ff3d00;
	--size: 1px;

	width: 24px;
	height: 24px;
	border: 3px solid var(--color-1);
	border-bottom-color: var(--color-2);
	border-radius: 50%;
	display: none;
	flex-shrink: 0;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
